@page "/"
@inherits LayoutComponentBase
@using ASM.Lib
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="page darkMode">
    <div class="sidebar">
        <div class="top-row pl-4 navbar navbar-dark">
            <a class="navbar-brand" href=""></a>
            <button class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <label>Server</label>
                    <select class="form-control selectpicker" @bind="activeServer">
                        @foreach (var template in ASM.Config.Servers)
                        {
                            <option value=@template.Key>@template.Key</option>
                        }
                    </select>
                </li>
                <li class="nav-item px-3">
                    <button class="btn btn-primary form-control"
                        @onclick='() => ASM.RunServer(selectedModIds, activeServer, IgnoreOptionalKeys, selectedMission)'>Start
                        Server</button>
                </li>
                <li class="nav-item px-3">
                    <button class="btn btn-secondary form-control"
                        @onclick='() => ASM.RunSteamModsUpdate(selectedModIds, activeServer)'>Run Mods Update</button>
                </li>
                <li class="nav-item px-3">
                    <button class="btn btn-warning form-control"
                        @onclick='() => ASM.RunSteamServerUpdate(activeServer)'>Run Server Update</button>
                </li>
                <li class="nav-item px-3">
                    <button class="btn btn-danger form-control" @onclick='() => ToggleServerSide()'>Toggle ServerSide
                        Mod</button>
                </li>
                @if(!string.IsNullOrEmpty(ASM.Config.Servers[activeServer].OptKeysPath))
                {
                    <li class="nav-item px-3">
                        <label class="checkboxList-item">
                            <input type="checkbox" checked=@IgnoreOptionalKeys
                                @onchange="eventArgs => { IgnoreOptionalKeys = !IgnoreOptionalKeys; }" />
                            <span>
                                Ignore Optional Keys
                            </span>
                        </label>
                    </li>
                }
            </ul>
        </div>
        <div class="bottom-logo">
            <img src="_content/ASMCommonGUI/img/ASM_white.png" alt="Briefing Room Logo" />
            <span class="ver">@ASMCore.VERSION (@ASMCore.BUILD_VERSION) by <strong>John Harvey
                    (@@john681611)</strong></span>
        </div>
    </div>

    <div class="main">
        <div class="top-row px-4">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Launcher
            </NavLink>
            <NavLink class="nav-link" href="Config" Match="NavLinkMatch.All">
                <span class="oi oi-cog" aria-hidden="true"></span>Config
            </NavLink>
            <a href="@ASMCore.REPO_URL" target="_blank">GitHub</a>
        </div>
        <div class="content px-4">
            <div>
                <div class="generator-group flex-justify-spaced flex-margin-fix">
                    <div class="form-group flex-block">
                        <div class="input-group">
                            <input class="form-control" @bind="templateName" placeholder="Template Name" required />
                            <div class="input-group-append">
                                <button class="btn btn-warning" @onclick='() => SaveTemplate()'
                                    type="button">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group flex-block">
                        <div class="input-group">
                            <select class="form-control selectpicker" @bind="selectedTemplate">
                                <option value="">New Template</option>
                                @foreach (var template in ASM.Config.Servers[activeServer].Templates)
                                {
                                    <option value=@template.Key>@template.Key</option>
                                }
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-warning" @onclick='() => LoadTemplate()'>Load</button>
                            </div>
                        </div>
                    </div>
                </div>
                <label>Starting Mission (Overrides Config)</label>
                <select class="form-control selectpicker" @bind="selectedMission">
                    <option value=>No mission (use provided config)</option>
                    @foreach (var mission in ASM.Config.Servers[activeServer].Missions)
                    {
                        <option value=@mission>@mission</option>
                    }
                </select>

                <CheckBoxModList Data="ASM.Config.Servers[activeServer].Mods" SelectedValues="selectedModIds">
                </CheckBoxModList>
            </div>
        </div>
        @* <div class="form-group flex-block">
            <div class="input-group">
            <input class="form-control" @bind="newFolderName" placeholder="Mod Folder Name" required />
            <input class="form-control" @bind="newModSteamId" placeholder="Steam Id" required />
            <div class="input-group-append">
            <button class="btn btn-warning" @onclick='() => ASM.RunSteamModInstall(newModSteamId, newFolderName,
            activeServer)'>Add New Mod</button>
            </div>
            </div>
            </div> *@
        <div class=bottom-bar>
            <LoggerAll logs="@ASM.logStream" />
        </div>
    </div>
</div>

@code {
    //NAV -----------------------------------------------------------------------------------
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    // ASM -----------------------------------------------------------------------------------

    private ASMCore ASM;

    private string templateName;
    private string activeServer;
    private List<string> selectedModIds;
    private string selectedMission;

    private string newFolderName;
    private string newModSteamId;

    private bool IgnoreOptionalKeys;

    private string selectedTemplate = "";
    protected override void OnInitialized()
    {
        ASM = new ASMCore();
        activeServer = ASM.Config.Servers.First().Key;
        selectedModIds = new List<string>();
    }

    private void ToggleMod(string modId)
    {
        if (selectedModIds.Contains(modId))
            selectedModIds.Remove(modId);
        else
            selectedModIds.Add(modId);
    }

    private void ToggleServerSide()
    {
        ASM.Config.ToggleServerSide(selectedModIds);
        StateHasChanged();
    }

    private void SaveTemplate()
    {
        var template = new Template();
        foreach (var modId in selectedModIds)
        {
            template.Mods.Add(modId, ASM.Config.Servers[activeServer].Mods[modId].Name);
        }
        ASM.Config.Servers[activeServer].Templates[templateName] = template;
        ASM.Config.Save();
    }

    private void LoadTemplate()
    {
        if (!ASM.Config.Servers[activeServer].Templates.ContainsKey(selectedTemplate))
        {
            templateName = "";
            selectedModIds = new List<string>();
            return;
        }

        var template = ASM.Config.Servers[activeServer].Templates[selectedTemplate];
        templateName = selectedTemplate;
        selectedModIds = template.Mods.Keys.ToList();
        StateHasChanged();
    }
}
